<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>this is a page for examples with jinja functionality </h1>
        <p>Here is my list:</p>
        <UL>{% for item in my_list %}
            <li>{{item}}</li>
            {% endfor %}
        </UL>
        <br><hr>
        <p>Another example below but this time using the if / else logic: </p>
        <ul>
            {% for dog in puppies%}
            <li>{{dog}}</li>
            {% endfor %}

            {% if 'brian' in puppies%}
            <p>Let's got a a dry Martini Bry ! </p>
            {% else %}
            <p>Brian is out with Stewie</p>
            {% endif%}
        </ul>

        <br><hr>
        <p>User logged in example. T/F flag to check if the user is still logged in </p>
        {% if user_logged_in %}
        <p>Welcome, You have successfully signed in </p>
        {% else %}
        <p> Please sign in </p>
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>